* { 
    margin: 0; 
    padding:0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1F2731;
}

#content_wrapper {
   width: 420px; 
   background: white;
   color: red;
   border-radius: 40px;
   padding: 10px;
   

}

h1 {
    text-align: center;
    color: red; 
    margin: 10px;
}

h1 {
    text-align: center;
    color: red; 
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    background: transparent; /* Transparent background */
    font-size: 16px;
    color: red; /* Input text color */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
    color: rgba(105, 105, 105, 0.7); /* Dark grey color with 70% opacity */
    font-size: 14px;
}


.links-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between links */
    margin: 20px 0; /* Optional: Add vertical spacing */
    align-items: center; /* Vertically align items in the center */
}

.reset-password,
.no-account {
    margin: 0; /* Remove default margin for cleaner alignment */
}

.reset-password a,
.no-account a {
    color: #1F2731; /* Text color */
    text-decoration: none; /* Remove underline by default */
}

.reset-password a:hover,
.no-account a:hover {
    text-decoration: underline; /* Underline on hover */
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: red;
    font-size: 16px;
    color: white;
    font-weight: 600;
}



