<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">
		<link rel="stylesheet" href="../static/add-debt.css" type="text/css" media="all" charset="utf-8">

        <title>Add Debt</title>

	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		
        
        
        
        
        <div id='content_wrapper'>
            
			{% include "navigation-bar.html" %}

			<div id='content'>

                <h1>Add Debt</h1>
				<div class='spacer'></div>
                <form action='add-debt' method ='POST'>
                     <!-- add debt -->
                      <!-- add income - if already in there tell them it will modify -->
                       <!--  -->
                    <p><label for="name">Name:</label> <input type = "text" name = "name" step="0.01" min="0" required/></p>
                    <p><label for="amount">Amount:</label> <input type = "number" name = "amount" placeholder="0.0" step="0.01" min="0" required/></p>
                    <p><label for="interest">Percentage Interest:</label> <input type = "number" name = "interest" placeholder="0.0" step="0.01" min="0" required/></p>
                    <p><label for="minimum-monthly-payment">Minimum Monthly Payment:</label> <input type = "number" placeholder="0.0" step="0.01" min="0" name = "minimum-monthly-payment" required/></p>
                    <p><label for="start-date">Start Date (optional):</label><input type = "date" name = "start-date"/></p>
                    <p><label for="chosen-due-date">Chosen Due Date (optional):</label><input type = "date" name = "chosen-due-date"/></p>
                    <p><label for="due-date">Due Date:</label><input type = "date" name = "due-date" required/></p>
                    <p><input type = "submit" value = "Add Debt" /></p>
                </form>
            </div>
		</div>
	</body>
</html>