<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">
        <title>Debt Dashboard</title>
	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		<div id='content_wrapper'>
                                             

			{% include "navigation-bar.html" %}

			<div id='content'>

                <h1>Debt Dashboard</h1>
                <!-- show all debts -->
                {% for debt in debts %}
                <div id="debts">
                    <p>{{ debt.name }}</p>
                    <p>{{ debt.amount }}</p>
                    <p>Interest: {{ debt.interest }}</p>
                    <p>Start Date: {{ debt.startDate }}</p>
                    <p>Goal End Date: {{ debt.chosenDueDate }}</p>
                    <p>Chosen Due Date: {{ debt.dueDate }}</p>
                    <p>Type: {{ debt.dclass }}</p>
                </div>
                {% endfor %}

                {% for e in expense %}
                <div id="expense">
                    <p>Expenses: {{ e.amount }}</p>
                    <p>Type: {{ e.eclass }}</p>
                </div>
                {% endfor %}

                {% for i in income %}
                <div id="income">
                    <p>Expenses: {{ i.amount }}</p>
                    <p>Type: {{ i.iclass }}</p>
                </div>
                {% endfor %}


                <!-- add debt -->
                <!-- redirect to add debt-->
                <button> <a href="{{ url_for('add_debt') }}">Add Debt</a></button>
                 

                <!-- add income -->
                 <!-- here notify if they have an income it will be overwritten -->
                  <!-- redirect to add-income -->
                <button> <a href="{{ url_for('add_income') }}">Add Income</a></button>


                <!-- button to redirect to timeline -->
                <button> <a href="{{ url_for('timeline') }}">Timeline</a></button>


            </div>
		</div>
	</body>
</html>