<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">
        <title>Debt Dashboard</title>
	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		<div id='content_wrapper'>



            <nav>
                <ul>
                    <li><a href='/home'>Home</a></li>
                    <li><a href="all-events">All Events</a></li>
                {%
                  if current_user.is_authenticated
                  %}
                  
                  <li><a href="budgeting-tips">Budgeting Tips</a></li>
                  <li><a href="budgeting-tips">Debt Dashboard</a></li>
                  <li><a href="simulation">Budget Timeline</a></li>
            
                  {% endif %}
            
                  <li><a href='log-out'>Log Out</a></li>					
                {% else %}
                    <li><a href='log-in'>Log In</a></li>
                    <li><a href='register'>Register</a></li>
                {% endif %}
                <li style="float: right; padding-right: 20px;">{% include "search.html" %}</li>
                </ul>
            </nav>
            
            






			{% include "navigation-bar.html" %}

			<div id='content'>

                <h1>Debt Dashboard</h1>
                <!-- show all debts -->
                {% for debt in debts %}
                <div id="debts">

                </div>
                {% endfor %}

                <div id="income">

                </div>

                <!-- add debt -->
                <!-- redirect to add debt-->
                <button> <a href="{{ url_for('add-debt') }}">Add Debt</a></button>
                 

                <!-- add income -->
                 <!-- here notify if they have an income it will be overwritten -->
                  <!-- redirect to add-income -->
                <button> <a href="{{ url_for('add-income') }}">Add Debt</a></button>


                <!-- button to redirect to timeline -->

            </div>
		</div>
	</body>
</html>