<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/log-in.css" type="text/css" media="all" charset="utf-8">
    <title>Sign In</title>
</head>

<body>
	<script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
	<div id='content_wrapper'>
		<div id='content'>
			<h1>Sign In</h1>
			<div class='spacer'></div>
			<form action='log-in' method='POST'>
				<p><input type="text" name="name" placeholder="Username or email" required/></p>
				<p><input type="password" name="password" placeholder="Password" required/></p>
				<p><input type="submit" value="Login" /></p>
			
				<div class="links-container">
				<p class="reset-password"><a href="reset-password">Reset Password</a></p>
				<p class="no-account"><a href="register">Create an account</a></p>
			</div>
			</form>
		</div>
		{% if failedlogin %}
		<script>window.alert('Incorrect username or password.\nTry again')</script>
		{% endif %}
	</div>
</body>

</html>



