<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">

		<link rel="stylesheet" href="../static/timeline.css" type="text/css" media="all" charset="utf-8">
        <title>Debt Timeline</title>
	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		<div id='content_wrapper'>
			{% include "navigation-bar.html" %}

			<div id='content'>

                <h1></h1>
				<div class='spacer'></div>
				<form action='simulation' method ='GET'>
                    <!-- {%if curent_user.is_authenticated%} -->
					<!-- <h2>No. Months til you are Debt Free</h2>
					<button id="calculateButton">Calculate</button>
					
					<div id="message"></div>
				
					<script>
						document.getElementById('calculateButton').addEventListener('click', function() {
							const userId = 1;  // Replace with the actual user ID
							fetch(`/calculate_months`)
								.then(response => response.json())
								.then(data => {
									const messageDiv = document.getElementById('message');
									messageDiv.innerText = `Debt-free in ${data.months} months!`;
									messageDiv.style.display = 'block'; // Show the message
								})
								.catch(error => {
									console.error('Error fetching data:', error);
								});
						});
						</script> -->
						<h2>No. Months til you are Debt Free</h2>
						<p>Debt-free in {{ noMonthsNeeded }} months!</p>

						<h3>Debt Payment Timeline</h3>
						<table border="1">
							<thead>
								<tr>
									<th>Month</th>
									<th>Percentage of Debt Remaining</th>
								</tr>
							</thead>
							<tbody>
								{% for month, percent_remaining in report.items() %}
									<tr>
										<td>{{ month }}</td>
										<td>{{ percent_remaining }}%</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					
					<!-- {%end if%} -->
					<!-- if goal stored, show graph timeline -->
                     <!-- if not, redirect to debt dashboard to input data -->
                </form>
            </div>
		</div>
	</body>
</html>