<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/main.css" type="text/css" media="all" charset="utf-8">
        <title>Debt Timeline</title>
	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		<div id='content_wrapper'>
			{% include "navigation-bar.html" %}

			<div id='content'>

                <h1></h1>
				<div class='spacer'></div>
                <form action='simulation' method ='GET'>
                    <!-- if goal stored, show graph timeline -->
                     <!-- if not, redirect to debt dashboard to input data -->
                </form>
            </div>
		</div>
	</body>
</html>